.background-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('../../assets/uefa_wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.link-button {
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 2px;
}